body, html {
  height: 100%;
}

#fond {
  position: fixed;

}
#fond img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  filter: opacity(60%);
  -webkit-transform: scaleX(-1);
transform: scaleX(-1);
}

.contenu{
  z-index: 10;
  position: absolute;
}

.navbar {
  overflow: visible;
  background-color: #eee;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  left: 0; /* Position the navbar at the top of the page */
  width: 100%;
  height: 80px; /* Full width */
  z-index: 20;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 26px 40px;
  text-decoration: none;
  color: #333;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: bold;
  z-index: 30;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ccc;
  color: black;
}

.navbar .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
  margin-left: 10%;
  margin-right: -5%;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 26px 40px;
  text-decoration: none;
  color: #333;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: bold;
  z-index: 30;
  border: 0;
  background-color: #eee;
}

.dropdown .dropbtn:hover{
  background-color: #b30000;
  color: #fff;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eee;
  min-width: 160px;
  z-index: 1;
  top: 79px;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar .dropbtn{
    overflow: visible;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #b30000;
  color: #fff;
}

/* Show the dropdown menu on hover */
//.dropdown:hover .dropdown-content {
  display: inline;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:inline-block;}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1405px) {
  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar.responsive .dropdown {
    float: none;
    width:100%;
    margin-left: 0px;
  }

  .navbar.responsive .dropdown-content {
    position: relative;
    top: 0px;
    background-color: #eee;
  }

  .navbar.responsive .dropdown-content a{
    font-size: 18px;
  }

  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    bottom:0;
  }
  .navbar.responsive a {
    float: none;
    margin-left: 5%;
    display: block;
    text-align: left;
    z-index: 150;
    background-color: #eee;
  }
  .navbar.responsive a:hover {
    background-color: #b30000;
    color: #fff;
  }

  .navbar.responsive #logo{
    display: none;
  }

  .navbar.responsive #urgent{
    margin-left: 0px;
  }

  .navbar.responsive{
    overflow: visible;
    margin-left: 0px;
  }
}

#logo{
  margin-top: -5px;
  height: 110px;
  width: 110px;
  margin-left: 10%;
  float: left;
}

#urgent{
  margin-left: 10%;
  margin-right: auto;
  background-color: #ff5500;
  color: #fff;
  z-index: 150;
}
#urgent:hover{
  background-color: #b30000;
}
