body{
  font-family: 'Montserrat';
}

.commonninja_component{
  position: relative;
  top: 15%;
  padding: 20px;
}

.titre{
  position: relative;
  font-size: 40px;
  top: 15%;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

.presentation{
  position: relative;
  text-align: center;
  top: 20%;
  font-size: 24px;
  margin-bottom: 15%;
  font-weight: 600;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

.scrb{
  font-size: 18px;
  left: 10%;
  width: 80%;
  position: relative;
  -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 6s; /* Firefox < 16 */
      -ms-animation: fadein 6s; /* Internet Explorer */
       -o-animation: fadein 6s; /* Opera < 12.1 */
          animation: fadein 6s;
}

a:link{
  color: #b30000;
  text-decoration: none;
}

a:visited{
  color: #b30000;
  text-decoration: none;
}

/* table title styling */
.titre-table{
  color: #000;
  width: 100%;
  font-weight: 400;
  font-size: 34px;
  font-family: 'Montserrat';
  z-index: 1;
  text-decoration: underline;
}

//.fond-titre-table{
  max-width: 40%;
  background-color: rgba(238,238,238,0.8);
}

/* delayed animation for each table */
.table1{
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

.table2{
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 3s; /* Firefox < 16 */
      -ms-animation: fadein 3s; /* Internet Explorer */
       -o-animation: fadein 3s; /* Opera < 12.1 */
          animation: fadein 3s;
}

.table3{
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;
}

.table4{
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 5s; /* Firefox < 16 */
      -ms-animation: fadein 5s; /* Internet Explorer */
       -o-animation: fadein 5s; /* Opera < 12.1 */
          animation: fadein 5s;
}

/* styling for each arrow, it goes upside down on click */
.arrow1 {
  margin-left: 10px;
  margin-bottom: 5px;
  border: solid black;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow2 {
  margin-left: 10px;
  margin-bottom: 5px;
  border: solid black;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow3 {
  margin-left: 10px;
  margin-bottom: 5px;
  border: solid black;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow4 {
  margin-left: 10px;
  margin-bottom: 5px;
  border: solid black;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* animation for the arrows next each title */
.rotate{
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.rotate.down{
    -ms-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

@keyframes fadein {
  from
    {
      opacity: 0;
      transform: scaleY(0.98) translateY(30px);
    }
  to
  {
    opacity: 1;
    transform: none;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from
    {
      opacity: 0;
      transform: scaleY(0.98) translateY(30px);
    }
  to
  {
    opacity: 1;
    transform: none;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from
    {
      opacity: 0;
      transform: scaleY(0.98) translateY(30px);
    }
  to
  {
    opacity: 1;
    transform: none;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from
    {
      opacity: 0;
      transform: scaleY(0.98) translateY(30px);
    }
  to
  {
    opacity: 1;
    transform: none;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from
    {
      opacity: 0;
      transform: scaleY(0.98) translateY(10px);
    }
  to
  {
    opacity: 1;
    transform: none;
  }
}

body, html {
  height: 100%;
}

#fond {
  position: fixed;
  overflow:hidden;
}

#fond img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  filter: opacity(50%) blur(3px);
}

.navbar {
  overflow: visible;
  background-color: #eee;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  left: 0; /* Position the navbar at the top of the page */
  width: 100%;
  height: 80px; /* Full width */
  z-index: 20;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 26px 40px;
  text-decoration: none;
  color: #333;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: bold;
  z-index: 30;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ccc;
  color: black;
}

.navbar .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
  margin-left: 5%;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 26px 40px;
  text-decoration: none;
  color: #333;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: bold;
  z-index: 30;
  border: 0;
  background-color: #eee;
}

.dropdown .dropbtn:hover{
  background-color: #b30000;
  color: #fff;
  cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eee;
  min-width: 160px;
  z-index: 1;
  top: 79px;
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.5s; /* Firefox < 16 */
      -ms-animation: fadein 0.5s; /* Internet Explorer */
       -o-animation: fadein 0.5s; /* Opera < 12.1 */
          animation: fadein 0.5s;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar .dropbtn{
    overflow: visible;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #b30000;
  color: #fff;
}

/* Show the dropdown menu on hover */
//.dropdown:hover .dropdown-content {
  display: inline;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:inline-block;}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1405px) {
  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar.responsive .dropdown {
    float: none;
    width:100%;
    margin-left: 0px;
  }

  .navbar.responsive .dropdown-content {
    position: relative;
    top: 0px;
    background-color: #eee;
  }

  .navbar.responsive .dropdown-content a{
    font-size: 18px;
  }

  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    bottom:0;
  }
  .navbar.responsive a {
    float: none;
    margin-left: 5%;
    display: block;
    text-align: left;
    z-index: 150;
    background-color: #eee;
  }
  .navbar.responsive a:hover {
    background-color: #b30000;
    color: #fff;
  }

  .navbar.responsive #logo{
    display: none;
  }

  .navbar.responsive #urgent{
    margin-left: 0px;
  }

  .navbar.responsive #residence{
    margin-left: 0px;
  }

  .navbar.responsive{
    overflow: visible;
    margin-left: 0px;
  }

  #fond {
    position: fixed;
    overflow:hidden;
  }
  #fond img {
    height: 100%;
    background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    filter: opacity(60%);
  }
}

#logo{
  margin-top: -5px;
  height: 110px;
  width: 110px;
  margin-left: 10%;
  float: left;
}

#logo:hover{
    cursor: pointer;
}

#urgent{
  margin-left: 5%;
  background-color: #ff5500;
  color: #fff;
  z-index: 150;
}
#urgent:hover{
  background-color: #b30000;
}

/* styling for the pricing tables */
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700);
.snip1404 {
  position: relative;
  font-family: 'Montserrat';
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  margin-top: 5%;
  left: 10%;
  flex-wrap: wrap;
  display: flex;
}
.snip1404 img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
.snip1404 .plan {
  width: 25%;
  margin-right: 21px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px #000;
  background-color: #b30000;
  max-width: 400px;
  display: none;
}

.snip1404 .plan:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.snip1404 * {
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.snip1404 header {
  background-color: #b30000;
  color: #ffffff;
}
.snip1404 .plan-title{
  background-color: rgba(0,0,0,0.5);
  position: relative;
  margin: 0;
  padding: 20px 20px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.snip1404 .plan-title:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 300px 0 0;
  border-color: rgba(0,0,0,0.5) transparent transparent;
}
.snip1404 .plan-cost {
  padding: 40px 20px 10px;
  text-align: right;
}
.snip1404 .plan-price {
  font-weight: 600;
  font-size: 3em;
}
.snip1404 .plan-type {
  opacity: 0.8;
  font-size: 0.9em;
  text-transform: uppercase;
}
.snip1404 .plan-features {
  padding: 0 0 20px;
  margin-left: 10px;
  list-style: outside none none;
  text-align: center;
}
.snip1404 .plan-features li {
  padding: 8px 5%;
}
.snip1404 .plan-features i {
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.5);
}
.snip1404 .plan-select {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}
.snip1404 .plan-select a {
  background-color: #700000;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
}
.snip1404 .plan-select a:hover {
  background-color: #ff4d4d;
}
.text-garantie{
  font-size:17px;
  display: inline;
  color: #fff;
  font-weight: bold;
 text-shadow: 0px 0px 7px #ddd;
}

@media only screen and (max-width: 767px) {
  .snip1404 .plan {
    width: 50%;
  }
  .snip1404 .plan-title,
  .snip1404 .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .snip1404 .plan-select,
  .snip1404 .plan-featured .plan-select {
    padding: 20px;
  }
  .snip1404 .plan-featured {
    margin-top: 0;
  }
}

@media only screen and (max-width: 440px) {
  .snip1404 .plan {
    width: 100%;
  }
    .snip1404 .plan-non-featured {
    width: 100%;
  }
    .snip1404 .plan-featured {
    width: 100%;
  }
}
