@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700);
/* css for the shiny buttons */

.chatbot{
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

#fond {
  background-image: url(https://www.portail-autoentrepreneur.fr/media/knowledgebase/etudiant-auto-entrepreneur.jpg);
  position: fixed;
  overflow:hidden;
  z-index: -1;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: opacity(50%) blur(3px);
}

.contenu{
  z-index: 10;
  position: absolute;
}
