/* css for the shiny buttons */
.btn {
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 25px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
  text-shadow: 0px 0px 0px;
}

.white {
  color: #fff;
  border: 2px #fff solid;
}

.white:hover {
  color: #000;
  background-color: #fff;
}

.buttons {
  padding-top: 30px;
  text-align: center;
}

/* style for the slideshow */
.fondSlide{
  width: 100%;
}

#slide{
	width:80%;
  position: fixed;
  top: 60%;left: 50%;
  transform: translate(-50%,-50%);
	}

.mySlides {
	display: none;
  width: 100%;
}

.slideshow-container {
	width: 100%;
	position: relative;
  border: 3px solid rgba(0,0,0,0.5);
  overflow: hidden;
}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: fixed;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  font-family: 'Open Sans';
	color: #fff;
	font-size: 20px;
	padding: 3% 5%;
  position: fixed;
  top: 50%;left: 50%;
  transform: translate(-50%,-50%);
	width: 90%;
	text-align: left;
  text-shadow: 0px 0px 12px #000;
  background-color: rgba(0,0,0,0.5);
  margin-left: 3px;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #b30000;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@-moz-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* positionning the background wrapper on the page */
#fond {
  position: fixed;
  overflow: hidden;
}

/* background image styling */
#fond img {
  width: 100%;/* takes all the space given */
  height: 100%;
  background-repeat: no-repeat;/* doesn't repeat if the image is smaller than the screen */
background-position: center center;/* center the image horizontally and vertically */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;/* cover the whole page */
  filter: opacity(60%);/* reduces opacity */
}

.contenu{
  z-index: 10;
  position: absolute;
}

/* navbar styling */
.navbar {
  overflow: visible;
  background-color: #eee;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top left of the page */
  left: 0;
  width: 100%; /* Full width */
  height: 80px;
  z-index: 20;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 26px 40px;
  text-decoration: none;
  color: #333;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: bold;
  z-index: 30;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ccc;
  color: black;
}

.navbar .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;/* hidden by default so it doesn't show the links below */
  margin-left: 10%;
  margin-right: -5%;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 26px 40px;
  text-decoration: none;
  color: #333;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: bold;
  z-index: 30;
  border: 0;
  background-color: #eee;
}

.dropdown .dropbtn:hover{
  background-color: #b30000;
  color: #fff;
  cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eee;
  min-width: 160px;
  z-index: 1;
  top: 79px;
  /* animation when appearing */
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.5s; /* Firefox < 16 */
      -ms-animation: fadein 0.5s; /* Internet Explorer */
       -o-animation: fadein 0.5s; /* Opera < 12.1 */
          animation: fadein 0.5s;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar .dropbtn{
    overflow: visible; /* show the links below the dropbtn */
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #b30000;
  color: #fff;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:inline-block;}

@media screen and (max-width: 600px){
  .text{
    font-size: 10px;
  }
}

/* When the screen is less than 1400 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1400px) {

/* resizes the slideshow for smaller screens */
  .fondSlide{
    height: 100%;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
  }

  #slide{
  	width:80%;
    height: 80%;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
  	}

    .slideshow-container{
      width: 100%;
      height: 90%;
    }

    .text{
      font-size: 15px;
      padding: 3% 8%;
      height: 60%;
    }

    .btn{
      transform: scale(0.5);
    }

    .mySlides{
      transform: scale(1);
      height: 100%;
    }

  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar.responsive .dropdown {
    float: none;
    width:100%;
    margin-left: 0px;
  }

  .navbar.responsive .dropdown-content {
    position: relative;
    top: 0px;
    background-color: #eee;
  }

  .navbar.responsive .dropdown-content a{
    font-size: 18px;
  }

  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    bottom:0;
  }
  .navbar.responsive a {
    float: none;
    margin-left: 5%;
    display: block;
    text-align: left;
    z-index: 150;
    background-color: #eee;
  }
  .navbar.responsive a:hover {
    background-color: #b30000;
    color: #fff;
  }

  .navbar.responsive #logo{
    display: none;
  }

  .navbar.responsive #urgent{
    margin-left: 0px;
  }

  .navbar.responsive{
    overflow: visible;
    margin-left: 0px;
  }

  #fond {
    position: fixed;
    overflow:hidden;
  }

  #fond img {
    width: 100%;
    background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    filter: opacity(60%);
  }
}

/* logo displayed at the left of the navbar */
#logo{
  margin-top: -5px;
  height: 110px;
  width: 110px;
  margin-left: 10%;
  float: left;
}

#logo:hover{
  cursor: pointer;
}

/* far right button, background is colored in orange for better UX */
#urgent{
  margin-left: 10%;
  margin-right: auto;
  background-color: #ff5500;
  color: #fff;
  z-index: 150;
}
#urgent:hover{
  background-color: #b30000;
}
