.first-titre-table{
  color: black;
  font-size: 40px;
  font-family: 'Open Sans';
}

.titre-table{
  margin-top: 50%;
  color: black;
  font-size: 40px;
  font-family: 'Open Sans';
}

.navbar {
  overflow: hidden;
  background-color: #eee;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  left: 0; /* Position the navbar at the top of the page */
  width: 100%;
  height: 80px; /* Full width */
  z-index: 1;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 40px;
  text-decoration: none;
  color: #333;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: bold;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ccc;
  color: black;
}

#logo{
  margin-top: -5px;
  height: 110px;
  width: 110px;
  margin-left: 10%;
  float: left;
}

#entretenir{
  margin-left: 8%;
}

#depanner{
  margin-left: 4%;
}

#installer{
  margin-left: 4%;
}

#urgent{
  margin-left: 4%;
  background-color: #b30000;
  color: #fff;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
.snip1404 {
  font-family: 'Open Sans';
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  max-width: 1000px;
  left: 20%;
  margin-right: auto;
  width: 100%;
  padding: 10px;
  margin-top: 7%;
  display: block;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
}
.snip1404 img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
.snip1404 .plan {
  margin: 6px;
  margin-top: 7px;
  width: 25%;
  position: relative;
  float: left;
  overflow: hidden;
  border: 5px solid #730000;
  box-shadow: 0px 0px 10px #000;
  background-color: #b30000;
}
.plan:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.snip1404 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.snip1404 header {
  background-color: #b30000;
  color: #ffffff;
}
.snip1404 .plan-title{
  background-color: rgba(0,0,0,0.5);
  position: relative;
  margin: 0;
  padding: 20px 20px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.snip1404 .plan-title:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 300px 0 0;
  border-color: rgba(0,0,0,0.5) transparent transparent;
}
.snip1404 .plan-cost {
  padding: 40px 20px 10px;
  text-align: right;
}
.snip1404 .plan-price {
  font-weight: 600;
  font-size: 3em;
}
.snip1404 .plan-type {
  opacity: 0.8;
  font-size: 0.9em;
  text-transform: uppercase;
}
.snip1404 .plan-features {
  padding: 0 0 20px;
  margin-left: 10px;
  list-style: outside none none;
  text-align: center;
}
.snip1404 .plan-features li {
  padding: 8px 5%;
}
.snip1404 .plan-features i {
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.5);
}
.snip1404 .plan-select {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}
.snip1404 .plan-select a {
  background-color: #700000;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
}
.snip1404 .plan-select a:hover {
  background-color: #ff4d4d;
}
.text-garantie{
  font-size:17px;
  display: inline;
  color: #fff;
  font-weight: bold;
 text-shadow: 0px 0px 7px #ddd;
}

@media only screen and (max-width: 767px) {
  .snip1404 .plan {
    width: 50%;
  }
  .snip1404 .plan-title,
  .snip1404 .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .snip1404 .plan-select,
  .snip1404 .plan-featured .plan-select {
    padding: 20px;
  }
  .snip1404 .plan-featured {
    margin-top: 0;
  }
}
@media only screen and (max-width: 440px) {
  .snip1404 .plan {
    width: 100%;
  }
    .snip1404 .plan-non-featured {
    width: 100%;
  }
    .snip1404 .plan-featured {
    width: 100%;
  }
}
